node_modules

# Sensitive data
.env
.env.*
backend/.env
backend/.env.*
*.sql
client_secret_*.json
karir.db

# Build artifacts and temporary files
dist
dist-ssr
production_dist*
*.zip
*.rar
*.7z

# Storage and Uploads
backend/storage/*
!backend/storage/.gitkeep
backend/public/uploads/*
!backend/public/uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
