# Fix Cross-Origin-Opener-Policy for Google Login
<IfModule mod_headers.c>
    Header set Cross-Origin-Opener-Policy "same-origin-allow-popups"
    Header set Cross-Origin-Embedder-Policy "unsafe-none"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Forward all requests to the public/ directory
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
